body {
    background: #fff;
    color: #bf0978;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}

img {
    border-radius: 3%;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 300px;
}

.profile-name {
    text-align: center;
    padding: 20px;
    color: #bf0978
}

.links {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 10px solid #bf0978;
    border-width: 2px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}

a {
    text-decoration: none;
    color: #bf0978;
    transition: color 1s;
}

.bottom-text {
    text-align: centre;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

a:hover {
    color: #fff;
    background: #bf0978;
}